/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .contactPage {
    margin: 20px 10px 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
  }
  .socialMedia {
    background-color: aquamarine;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
  }

  .socialMediaSubDiv {
    padding: 4px 10px;
    text-align: center;
  }

  /* .socialMediaSubDivHeading {
    color: blue;
  }*/

  .socialMedaiSubDiv2Divs {
    /* width: 350px; */
    height: 60px;
  }
  .logoDimensions {
    width: 30px;
    height: 30px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 0 20px;
  }
  .socialMediaSubDiv2Para {
    margin-top: 0px;
  }
  .socialMediaSpan {
    font-weight: 700;
  }
  .myWebsite {
    text-decoration: none;
    color: black;
  }
  .myWebsite:hover {
    color: blue;
    text-decoration: underline;
    font-weight: 600;
  }

  .contactDetails {
    background-color: aquamarine;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;
    padding-bottom: 10px;
    /* width: 500px; */
    /* height: 450px; */
  }

  .contactDetailsSubDiv {
    text-align: center;
  }

  .contactDetailsSubDivHeading {
    /* color: blue; */
    padding-top: 10px;
  }

  .contactDetailsSubDiv2 {
    padding: 0 20px 20px 20px;
    position: relative;
  }

  .contactData1 {
    /* display: flex; */
    /* gap: 20px; */
    margin-top: -5px;
    margin-bottom: 16px;
  }

  .contactData1Div1 {
    margin-bottom: 16px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 5px;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 5px;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 5px;
    margin-bottom: 16px;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 265px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 160px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .contactPage {
    margin: 25px 50px 0 170px;
    padding-top: 20px;
    background-color: aliceblue;
    height: 85vh;
    border-radius: 40px;
    width: 900px;
    display: flex;
  }
  .socialMedia {
    background-color: aquamarine;
    margin-left: 10px;
    border-radius: 20px;
    width: 360px;
    height: 450px;
  }

  .socialMediaSubDiv {
    padding: 10px 0;
    text-align: center;
  }

  /* .socialMediaSubDivHeading {
      color: blue;
    }*/

  .socialMedaiSubDiv2Divs {
    width: 350px;
    height: 60px;
  }
  .logoDimensions {
    width: 30px;
    height: 30px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 0 20px;
  }
  .socialMediaSubDiv2Para {
    margin-top: 0px;
  }
  .socialMediaSpan {
    font-weight: 700;
  }
  .myWebsite {
    text-decoration: none;
    color: black;
  }
  .myWebsite:hover {
    color: blue;
    text-decoration: underline;
    font-weight: 600;
  }

  .contactDetails {
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 20px;
    width: 500px;
    height: 450px;
  }

  .contactDetailsSubDiv {
    text-align: center;
  }

  /* .contactDetailsSubDivHeading {
      color: blue;
    } */

  .contactDetailsSubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 20px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 215px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 215px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 455px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 240px;
    height: 30px;
    font-size: larger;
    font-weight: 900;
    background-color: aqua;
    border-radius: 10px;
  }
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .contactPage {
    margin: 25px 100px 0 100px;
    padding-top: 20px;
    background-color: aliceblue;
    height: 85vh;
    border-radius: 40px;
    display: flex;
  }
  .socialMedia {
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 20px;
    width: 400px;
    height: 82vh;
  }

  .socialMediaSubDiv {
    padding: 10px 0;
    text-align: center;
  }

  /* .socialMediaSubDivHeading {
      color: blue;
    }*/

  .socialMedaiSubDiv2Divs {
    width: 350px;
    height: 60px;
  }
  .logoDimensions {
    width: 30px;
    height: 30px;
  }
  .iconsmatter {
    display: flex;
    gap: 20px;
    margin: 0 20px;
  }
  .socialMediaSubDiv2Para {
    margin-top: 0px;
  }
  .socialMediaSpan {
    font-weight: 700;
  }
  .myWebsite {
    text-decoration: none;
    color: black;
  }
  .myWebsite:hover {
    color: blue;
    text-decoration: underline;
    font-weight: 600;
  }

  .contactDetails {
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 20px;
    width: 600px;
    height: 82vh;
  }

  .contactDetailsSubDiv {
    text-align: center;
  }

  /* .contactDetailsSubDivHeading {
      color: blue;
    } */

  .contactDetailsSubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 25px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 10px;
    width: 260px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactEmailLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 10px;
    width: 260px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSubjectLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 555px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactMessageLabel {
    font-size: 20px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 550px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    border: 0 solid white;
  }

  .contactSendButton {
    width: 240px;
    height: 30px;
    font-size: larger;
    font-weight: 500;
    background-color: rgb(244, 238, 205);
    border-radius: 10px;
  }
  .contactSendButton:hover {
    color: blue;
    background-color: aqua;
    font-weight: 700;
  }
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  .contactPage {
    margin: 25px 50px 0 200px;
    /* padding-top: 20px; */
    background-color: aliceblue;
    border-radius: 40px;
    width: 86%;
    display: flex;
  }
  .socialMedia {
    background-color: aquamarine;
    margin: 30px;
    border-radius: 20px;
    width: 800px;
    height: 820px;
  }

  .socialMediaSubDiv {
    padding: 10px 0;
    text-align: center;
  }

  .socialMediaSubDivHeading {
    margin: 20px 0;
    font-size: 60px;
  }
  .socialMediaSubDivPara {
    font-size: 30px;
  }
  .socialMediaSubDiv2 {
    margin: 0 20px;
  }
  .socialMedaiSubDiv2Divs {
    width: 800px;
    height: 120px;
  }
  .iconsmatter {
    display: flex;
    gap: 40px;
    margin: 0 20px;
  }
  .logoDimensions {
    width: 70px;
    height: 70px;
  }

  .socialMediaSubDiv2Para {
    margin-top: 15px;
    font-size: 30px;
  }
  .socialMediaSpan {
    font-weight: 700;
  }
  .myWebsite {
    text-decoration: none;
    color: black;
  }
  .myWebsite:hover {
    color: blue;
    text-decoration: underline;
    font-weight: 600;
  }

  .contactDetails {
    background-color: aquamarine;
    margin: 30px 30px 30px 0;
    border-radius: 20px;
    width: 1310px;
    height: 820px;
  }

  .contactDetailsSubDiv {
    text-align: center;
  }

  .contactDetailsSubDivHeading {
    font-size: 60px;
    margin: 20px 0;
  }

  .contactDetailsSubDiv2 {
    margin: 0 20px;
  }

  .contactData1 {
    display: flex;
    gap: 40px;
  }

  .contactData1Div1 {
    margin-bottom: 20px;
  }
  .contactFullNameLabel {
    font-size: 30px;
    font-weight: 900;
    color: blue;
  }
  .contactFullNameInput {
    margin-top: 20px;
    width: 585px;
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
    border: 0 solid white;
    font-size: 30px;
  }

  .contactEmailLabel {
    font-size: 30px;
    font-weight: 900;
    color: blue;
  }
  .contactEmailInput {
    margin-top: 20px;
    width: 585px;
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
    border: 0 solid white;
    font-size: 30px;
  }

  .contactSubjectLabel {
    font-size: 30px;
    font-weight: 900;
    color: blue;
  }
  .contactSubjectInput {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1230px;
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
    border: 0 solid white;
    font-size: 30px;
  }

  .contactMessageLabel {
    font-size: 30px;
    font-weight: 900;
    color: blue;
  }
  .contactMessageTextarea {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 1210px;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
    border: 0 solid white;
    font-size: 30px;
  }

  .contactSendButton {
    width: 400px;
    height: 80px;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(244, 238, 205);
    border-radius: 20px;
    margin-top: 30px;
  }
  .contactSendButton:hover {
    color: blue;
    background-color: aqua;
    font-weight: 900;
  }
}
