.EngineeringPage{
    width: 700px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 30px 300px;
}
.dataEngineeringPageImg{
    margin: 20px 100px;
    width: 500px;
    height: 400px;
    border-radius: 20px;
}
.EngineeringPageArrow{
    margin-top: -50px;
    margin-left: 50px;
}
.leftArrowEngPage{
    font-size: 30px;
    font-weight: 600;
    padding-left: 150px;
}
.leftArrowEngPage:hover{
    color: blue;
    text-decoration: none;
    font-weight: 900;
}