/* mobiles */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .EngineeringPage{
        width: 700px;
        height: 450px;
        background-color: aliceblue;
        border-radius: 20px;
        margin: 30px 300px;
    }
    .dataEngineeringPageImg{
        margin: 20px 100px;
        width: 500px;
        height: 400px;
        border-radius: 20px;
    }
    .EngineeringPageArrow{
        margin-top: -50px;
        margin-left: 50px;
    }
    .leftArrowEngPage{
        font-size: 30px;
        font-weight: 600;
        padding-left: 150px;
    }
    .leftArrowEngPage:hover{
        color: blue;
        text-decoration: none;
        font-weight: 900;
    }
    
}

/* laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .EngineeringPage{
        width: 700px;
        height: 450px;
        background-color: aliceblue;
        border-radius: 20px;
        margin: 30px 300px;
    }
    .dataEngineeringPageImg{
        margin: 20px 100px;
        width: 500px;
        height: 400px;
        border-radius: 20px;
    }
    .EngineeringPageArrow{
        margin-top: -50px;
        margin-left: 50px;
    }
    .leftArrowEngPage{
        font-size: 30px;
        font-weight: 600;
        padding-left: 150px;
    }
    .leftArrowEngPage:hover{
        color: blue;
        text-decoration: none;
        font-weight: 900;
    }
    
}

/* desktops */
@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .EngineeringPage{
        width: 700px;
        height: 450px;
        background-color: aliceblue;
        border-radius: 20px;
        margin: 30px 300px;
    }
    .dataEngineeringPageImg{
        margin: 20px 100px;
        width: 500px;
        height: 400px;
        border-radius: 20px;
    }
    .EngineeringPageArrow{
        margin-top: -50px;
        margin-left: 50px;
    }
    .leftArrowEngPage{
        font-size: 30px;
        font-weight: 600;
        padding-left: 150px;
    }
    .leftArrowEngPage:hover{
        color: blue;
        text-decoration: none;
        font-weight: 900;
    }
    
}

/* big screens */
@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
    .EngineeringPage{
        width: 700px;
        height: 450px;
        background-color: aliceblue;
        border-radius: 20px;
        margin: 30px 300px;
    }
    .dataEngineeringPageImg{
        margin: 20px 100px;
        width: 500px;
        height: 400px;
        border-radius: 20px;
    }
    .EngineeringPageArrow{
        margin-top: -50px;
        margin-left: 50px;
    }
    .leftArrowEngPage{
        font-size: 30px;
        font-weight: 600;
        padding-left: 150px;
    }
    .leftArrowEngPage:hover{
        color: blue;
        text-decoration: none;
        font-weight: 900;
    }
    
}
