.HeaderMain{
    display: flex;
    gap: 400px;
    background-color: aliceblue;
}

.HeaderSubDiv1{
    margin-left: 20px;
    display: flex;
}

.HeaderLogo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.HeaderH1{
    font-weight: 400;
    font-size: 40px;
}

.HeaderSubDiv2{
    margin-top: 20px;
}

.HeaderLinks{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
}

.HeaderLinks:hover{
    font-weight: 700;
    color: blue;
}