.HeaderMain{
    display: flex;
    gap: 500px;
    background-color: aliceblue;
}

.HeaderSubDiv1{
    margin-left: 20px;
    display: flex;
}

.HeaderLogo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 40px;
}
.HeaderH1Div{
    margin-top: -5px;
}
.HeaderH1{
    font-weight: 600;
    font-size: 30px;
}

.HeaderSubDiv2{
    margin-top: 20px;
}

.HeaderLinks{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
}

.HeaderLinks:hover{
    font-weight: 700;
    color: blue;
}